@media(max-width:500px){
    .navbar{
        height: 30px;
    }
    #nav_logo{
        width: 40px;
        height: 18px;
        font-size: 15px;
        font-weight: 700;
    }
    #nav_ops a{
        padding-top: 4px;
        height: 18px;
        width: 70px;
        font-size: 12px;
    }
    .hero_sec{
        height: 300px;
        background-image: url(hero_2.jpg);
    }
    #hero_heading{
        color: rgb(113, 180, 11);
        font-size: 35px;
    }
    #search_bar input{
        width: 200px;
        height: 34px;
    }
    #search_bar button{
        width: 70px;
        height: 36px;
    }
    #select{
        height: 37px;
        width: 93px;
        cursor: pointer;
        margin: 5px;
    }
    #started_button{
        height: 90px;
        width: 90px;
    }
    #started{
        height: 90px;
        width: 90px;
        font-size: 18px;
        i{
            font-size: 25px;
        }
    }
    #panel_1{
        height: auto;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #panel_1 p{
        font-size: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    #panel_1_link{
        height: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    #panel_1_link a{
        font-size: 7px;
        align-items: center;
        text-align: center;
    }
    .sec_1 {
        height: 240px;
    }
    .sec_1_slider {
        height: 240px;
    }
    .slide {
        height: 240px;
        width: 500%;
    }
    .content {
        height: 200px;
        width: 50%; /* Adjusted to show 5 items (5 * 20% = 100%) */
        margin: 3px;
        padding: 10px;
    }
    .content h2 {
        font: 700 12px sans-serif;
        margin: 1px 0px 4px;
    }
    .content h3 {
        color: #333333;
        font: 10px sans-serif;
        margin: 2px 0px 8px;
    }
    .content p {
        color: #47b449;
        font: 500 9px sans-serif;
    }
    .con_bun {
        height: 110px;
    }
    .content button {
        height: 30px;
        padding: 2px 2px 4px;
        margin-top: 5px;
        font: 100 10px source sans pro;
        border-radius: 2px;
    }
    .con_bun button {
        height: auto;
        width: 50%;
        font: 8px sans-serif;
        margin: 0px 2px 3px;
        padding: 4px 4px;
        border-radius: 10px;
    }
    .prev, .next {
        height: 40px;
        width: 30px;
        top: 55%;
    }
    #panel_2{
        height: 20px;
        margin-top: 4px;
    }
    #panel_2 p{
        padding-top: 4px;
        font-size: 10px;
        font-weight: 500;
    }
    #panel_2_link{
        height: 20px;
        padding-top: 4px;
    }
    #panel_2_link a{
        font-size: 8px;
    }
    .sec_2{
        height: 210px;
        width: 98%;
        display: flex;
        justify-content: space-around;
        margin: 10px;
    }
    .container {
        width: 85%;
        height: 170px;
        margin-left: -4%;
    }
    .navbar_2 {
        height: auto;
        p{
            font-size: 13px;
            font-weight: 600;
            margin: 5px;
        }
    }
    .navbar_2 a {
        padding: 0px;
        font-size: 11px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .content_2 {
        padding: 3px;
    }
    .list_boxes{
        flex-wrap: wrap;
        flex-direction: column;
    }
    #list li{
        font-size: 10px;
    }
    .sec_3{
        height: auto;
    }
    .sec_job{
        height: auto;
        font-size: 10px;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .hunt_job{
        height: 200px;
        width: 100%;
        .img{
            height: 40%;
            width: 100%;
            margin-top: 5px;
            margin-bottom: 10px;
            img{
                height: 100px;
                width: 100px;
            }
        }
        .text{
            height: 40px;
            width: 100%;
            h3{
                font-weight: 700;
                font-size: 15px;
            }
        }
    }
    .free_cv{
        height: 100px;
        width: 70%;
        padding-top: 50px;
        img{
            height: 90px;
            width: 90px;
            img{
                height: 90px;
                width: 90px;
            }
        }
        .text{
            height: 70px;
            width: 100%;
            padding-top: 10px;
            h3{
                font-weight: 700;
                font-size: 15px;
            }
        }
    }
    .writing_cv{
        height: 100px;
        width: 80%;
        padding: 40px;
        cursor: pointer;
        img{
            height: 90px;
            width: 90px;
            img{
                height: 90px;
                width: 90px;
            }
        }
        .text{
            height: 70px;
            width: 100%;
            padding-top: 10px;
            h3{
                font-weight: 700;
                font-size: 15px;
            }
        }
    }
    /*footer*/
    footer{
        margin-top: 10px;
        height: auto;
    }
    /*footer 1*/
    .footer_1{
        height: auto;
        width: 65%;
        margin-left: 20%;
        padding-top: 20px;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 20px;
        h3{
            font-size: 15px;
        }
    }
    /*footer 2*/
    .footer_2{
        height: 30px;
        width: 70%;
        font-size: 10px;
        margin-left: 20%;
        margin-top: -10px;
    }
    .footer_list ul {
        padding-bottom: 20px;
    }
    .footer_list li {
        font-size: 10px;
    }
    .footer-list h1 {
        margin-bottom: 10px;
    }
}

@media(max-width:750px) and (min-width:500px){
    .navbar{
        height: 45px;
        padding: 0;
    }
    #nav_logo{
        width: 50px;
        height: 23px;
        font-size: 20px;
        font-weight: 700;
    }
    #nav_ops a{
        padding-top: 7px;
        text-align: center; 
        height: 25px;
        width: 80px;
        font-size: 15px;
    }
    .hero_sec{
        height: 300px;
        background-image: url(/IMAGES/hero_2.jpg);
    }
    #hero_heading{
        color: rgb(113, 180, 11);
        font-size: 35px;
    }
    #search_bar input{
        width: 200px;
        height: 34px;
    }
    #search_bar button{
        width: 70px;
        height: 36px;
    }
    #select{
        height: 37px;
        width: 93px;
        cursor: pointer;
        margin: 5px;
    }
    #started_button{
        height: 90px;
        width: 90px;
    }
    #started{
        height: 90px;
        width: 90px;
        font-size: 18px;
        i{
            font-size: 25px;
        }
    }
    #panel_1{
        height: 35px;
    }
    #panel_1 p{
        font-size: 10px;
        padding-top: 10px;
    }
    #panel_1_link{
        height: 10px;
        padding-top: 10px;
    }
    #panel_1_link a{
        font-size: 8px;
        align-items: center;
        text-align: center;
    }
    .sec_1 {
        height: 240px;
    }
    .sec_1_slider {
        height: 240px;
    }
    .slide {
        height: 240px;
        width: 330%;
    }
    .content {
        height: 200px;
        width: 33.3%; /* Adjusted to show 5 items (5 * 20% = 100%) */
        margin: 3px;
        padding: 10px;
    }
    .content h2 {
        font: 700 15px sans-serif;
        margin: 1px 0px 4px;
    }
    .content h3 {
        font: 13px sans-serif;
        margin: 2px 0px 8px;
    }
    .content p {
        font: 500 12px sans-serif;
    }
    .con_bun {
        height: 110px;
    }
    .content button {
        height: 30px;
        padding: 2px 2px 4px;
        margin-top: 5px;
        font: 100 12px source sans pro;
        border-radius: 2px;
    }
    .con_bun button {
        height: auto;
        width: 50%;
        font: 8px sans-serif;
        margin: 0px 2px 3px;
        padding: 4px 4px;
        border-radius: 10px;
    }
    .prev, .next {
        height: 40px;
        width: 30px;
        top: 55%;
    }
    #panel_2{
        height: 28px;
        margin-top: 3px;
    }
    #panel_2 p{
        padding-top: 6px;
        font-size: 12px;
        font-weight: 600;
    }
    #panel_2_link{
        height: 28px;
        padding-top: 6px;
    }
    #panel_2_link a{
        font-size: 10px;
    }
    .sec_2{
        height: 210px;
        width: 98%;
        display: flex;
        justify-content: space-around;
        margin: 10px;
    }
    .container {
        width: 85%;
        height: 170px;
        margin-left: -4%;
    }
    .navbar_2 {
        height: auto;
        p{
            font-size: 13px;
            font-weight: 600;
            margin: 5px;
        }
    }
    .navbar_2 a {
        padding: 0px;
        font-size: 11px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .content_2 {
        padding: 3px;
    }
    .list_boxes{
        flex-wrap: wrap;
        flex-direction: column;
    }
    #list li{
        font-size: 10px;
    }
    .sec_3{
        height: auto;
    }
    .sec_job{
        height: auto;
        font-size: 10px;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .hunt_job{
        height: 200px;
        width: 100%;
        .img{
            height: 40%;
            width: 100%;
            margin-top: 5px;
            margin-bottom: 10px;
            img{
                height: 100px;
                width: 100px;
            }
        }
        .text{
            height: 40px;
            width: 100%;
            h3{
                font-weight: 700;
                font-size: 15px;
            }
        }
    }
    .free_cv{
        height: 100px;
        width: 70%;
        padding-top: 50px;
        img{
            height: 90px;
            width: 90px;
            img{
                height: 90px;
                width: 90px;
            }
        }
        .text{
            height: 70px;
            width: 100%;
            padding-top: 10px;
            h3{
                font-weight: 700;
                font-size: 15px;
            }
        }
    }
    .writing_cv{
        height: 100px;
        width: 80%;
        padding: 40px;
        cursor: pointer;
        img{
            height: 90px;
            width: 90px;
            img{
                height: 90px;
                width: 90px;
            }
        }
        .text{
            height: 70px;
            width: 100%;
            padding-top: 10px;
            h3{
                font-weight: 700;
                font-size: 15px;
            }
        }
    }
    /*footer*/
    footer{
        margin-top: 10px;
        height: auto;
    }
    /*footer 1*/
    .footer_1{
        height: auto;
        width: 65%;
        margin-left: 20%;
        padding-top: 20px;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 20px;
        h3{
            font-size: 15px;
        }
    }
    /*footer 2*/
    .footer_2{
        height: 30px;
        width: 70%;
        font-size: 10px;
        margin-left: 20%;
        margin-top: -10px;
    }
    .footer_list ul {
        padding-bottom: 20px;
    }
    .footer_list li {
        font-size: 10px;
    }
    .footer-list h1 {
        margin-bottom: 10px;
    }
}

@media(max-width:1000px) and (min-width:750px){
    .navbar{
        height: 50px;
        font: 10px;
        font-weight: 700;
    }
    /*nav logo*/
    #nav_logo{
        height: 35px;
        font-size: 30px;
        padding-left: 8px;
        font-weight: 700;
    }
    #nav_ops a{
        padding-top: 8px;
        margin: 3px 8px 1px 0px;
        height: 22px;
        width: 100px;
        font-size: 13px;
    }
    /* hero section */
    .hero_sec{
        height: 350px;
    }
    #hero_heading{
        font-size: 45px;
    }
    #search_bar input{
        width: 330px;
        height: 30px;
    }
    #search_bar button{
        width: 120px;
        height: 32px;
    }
    #select{
        height: 34px;
        width: 100px;
        margin: 3px;
    }
    /*Started button*/
    #started_button{
        height: 100px;
        width: 100px;
    }
    #started{
        height: 100px;
        width: 100px;
        font-size: 15px;
        margin: 3px;
        i{
            font-size: 30px;
        }
    }
    /* panel_1 */
    #panel_1{
        height: 35px;
    }
    #panel_1 p{
        padding-top: 8px;
        font-size: 15px;
    }
    #panel_1_link{
        height: 35px;
        padding-top: 10px;
    }
    #panel_1_link a{
        font-size: 10px;
        margin-right: 7px;
    }
    .sec_1 {
        height: 240px;
    }
    .sec_1_slider {
        height: 240px;
    }
    .slide {
        height: 240px;
        width: 250%;
    }
    .content {
        height: 200px;
        width: 25%; /* Adjusted to show 5 items (5 * 20% = 100%) */
        margin: 3px;
        padding: 10px;
    }
    .content h2 {
        font: 700 15px sans-serif;
        margin: 1px 0px 4px;
    }
    .content h3 {
        color: #333333;
        font: 13px sans-serif;
        margin: 2px 0px 8px;
    }
    .content p {
        color: #47b449;
        font: 500 12px sans-serif;
    }
    .con_bun {
        height: 110px;
    }
    .content button {
        height: 30px;
        padding: 2px 2px 8px;
        margin-top: 5px;
        font: 100 12px source sans pro;
        border-radius: 2px;
    }
    .con_bun button {
        height: auto;
        width: 50%;
        font: 8px sans-serif;
        margin: 0px 2px 3px;
        padding: 4px 4px;
        border-radius: 10px;
    }
    .prev, .next {
        height: 40px;
        width: 30px;
        top: 55%;
    }
    #panel_2{
        height: 35px;
        margin-top: 8px;
    }
    #panel_2 p{
        padding-top: 8px;
        font-size: 14px;
        font-weight: 700;
    }
    #panel_2_link{
        height: 35px;
        padding-top: 8px;
    }
    #panel_2_link a{
        font-size: 12px;
    }
    .sec_2{
        height: 210px;
        width: 98%;
        display: flex;
        justify-content: space-around;
        margin: 10px;
    }
    .container {
        width: 85%;
        height: 170px;
        margin-left: -4%;
    }
    .navbar_2 {
        height: auto;
        p{
            font-size: 13px;
            font-weight: 600;
            margin: 5px;
        }
    }
    .navbar_2 a {
        padding: 0px;
        font-size: 11px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .content_2 {
        padding: 3px;
    }
    .list_boxes{
        flex-wrap: wrap;
        flex-direction: column;
    }
    #list li{
        font-size: 10px;
    }
    .sec_3{
        height: auto;
    }
    .sec_job{
        height: auto;
        font-size: 10px;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .hunt_job{
        height: 200px;
        width: 100%;
        .img{
            height: 40%;
            width: 100%;
            margin-top: 5px;
            margin-bottom: 10px;
            img{
                height: 100px;
                width: 100px;
            }
        }
        .text{
            height: 40px;
            width: 100%;
            h3{
                font-weight: 700;
                font-size: 15px;
            }
        }
    }
    .free_cv{
        height: 100px;
        width: 70%;
        padding-top: 50px;
        img{
            height: 90px;
            width: 90px;
            img{
                height: 90px;
                width: 90px;
            }
        }
        .text{
            height: 70px;
            width: 100%;
            padding-top: 10px;
            h3{
                font-weight: 700;
                font-size: 15px;
            }
        }
    }
    .writing_cv{
        height: 100px;
        width: 80%;
        padding: 40px;
        cursor: pointer;
        img{
            height: 90px;
            width: 90px;
            img{
                height: 90px;
                width: 90px;
            }
        }
        .text{
            height: 70px;
            width: 100%;
            padding-top: 10px;
            h3{
                font-weight: 700;
                font-size: 15px;
            }
        }
    }
    /*footer*/
    footer{
        margin-top: 10px;
        height: auto;
    }
    /*footer 1*/
    .footer_1{
        height: auto;
        width: 65%;
        margin-left: 20%;
        padding-top: 20px;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 20px;
        h3{
            font-size: 15px;
        }
    }
    /*footer 2*/
    .footer_2{
        height: 30px;
        width: 70%;
        font-size: 10px;
        margin-left: 20%;
        margin-top: -10px;
    }
    .footer_list ul {
        padding-bottom: 20px;
    }
    .footer_list li {
        font-size: 10px;
    }
    .footer-list h1 {
        margin-bottom: 10px;
    }
}

@media(max-width:1250px) and (min-width:1000px){
    .navbar{
        height: 45px;
        padding: 0;
    }
    #nav_logo{
        width: 80px;
        height: 28px;
        margin-top: -5px;
        font-size: 30px;
        font-weight: 700;
    }
    #nav_ops a{
        padding-top: 7px;
        text-align: center; 
        height: 28px;
        width: 110px;
        font-size: 18px;
    }
    .hero_sec{
        height: 330px;
    }
    #hero_heading{
        font-size: 45px;
    }
    #search_bar input{
        width: 350px;
        height: 34px;
    }
    #search_bar button{
        width: 120px;
        height: 36px;
    }
    #select{
        height: 37px;
        width: 110px;
        cursor: pointer;
        margin: 5px;
    }
    #started_button{
        height: 105px;
        width: 105px;
    }
    #started{
        height: 105px;
        width: 105px;
        font-size: 18px;
        i{
            font-size: 33px;
        }
    }
    #panel_1 p{
        padding-top: 15px;
        font-size: 16px;
    }
    #panel_1_link{
        height: 40px;
        padding-top: 15px;
    }
    #panel_1_link a{
        font-size: 13px;
    }
    .sec_1 {
        height: 390px;
        width: 100%;
    }
    .sec_1_slider {
        height: 390px;
        width: 90%;
    }
    .slide {
        height: 390px;
        width: 250%;
    }
    .content {
        height: 340px;
        width: 25%; /* Adjusted to show 5 items (5 * 20% = 100%) */
    }
    #panel_2{
        height: 35px;
        margin-top: 8px;
    }
    #panel_2 p{
        padding-top: 8px;
        font-size: 14px;
        font-weight: 700;
    }
    #panel_2_link{
        height: 35px;
        padding-top: 8px;
    }
    #panel_2_link a{
        font-size: 12px;
    }
    .sec_2{
        height: 210px;
        width: 98%;
        display: flex;
        justify-content: space-around;
        margin: 10px;
    }
    .container {
        width: 85%;
        height: 170px;
        margin-left: -4%;
    }
    .navbar_2 {
        height: auto;
        p{
            font-size: 13px;
            font-weight: 600;
            margin: 5px;
        }
    }
    .navbar_2 a {
        padding: 0px;
        font-size: 11px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .content_2 {
        padding: 3px;
    }
    .list_boxes{
        flex-wrap: wrap;
        flex-direction: column;
    }
    #list li{
        font-size: 10px;
    }
    .sec_3{
        height: auto;
    }
    .sec_job{
        height: auto;
        font-size: 10px;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .hunt_job{
        height: 200px;
        width: 100%;
        .img{
            height: 40%;
            width: 100%;
            margin-top: 5px;
            margin-bottom: 10px;
            img{
                height: 100px;
                width: 100px;
            }
        }
        .text{
            height: 40px;
            width: 100%;
            h3{
                font-weight: 700;
                font-size: 15px;
            }
        }
    }
    .free_cv{
        height: 100px;
        width: 70%;
        padding-top: 50px;
        img{
            height: 90px;
            width: 90px;
            img{
                height: 90px;
                width: 90px;
            }
        }
        .text{
            height: 70px;
            width: 100%;
            padding-top: 10px;
            h3{
                font-weight: 700;
                font-size: 15px;
            }
        }
    }
    .writing_cv{
        height: 100px;
        width: 80%;
        padding: 40px;
        cursor: pointer;
        img{
            height: 90px;
            width: 90px;
            img{
                height: 90px;
                width: 90px;
            }
        }
        .text{
            height: 70px;
            width: 100%;
            padding-top: 10px;
            h3{
                font-weight: 700;
                font-size: 15px;
            }
        }
    }
    /*footer*/
    footer{
        margin-top: 10px;
        height: auto;
    }
    /*footer 1*/
    .footer_1{
        height: auto;
        width: 65%;
        margin-left: 20%;
        padding-top: 20px;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 20px;
        h3{
            font-size: 15px;
        }
    }
    /*footer 2*/
    .footer_2{
        height: 30px;
        width: 70%;
        font-size: 10px;
        margin-left: 20%;
        margin-top: -10px;
    }
    .footer_list ul {
        padding-bottom: 20px;
    }
    .footer_list li {
        font-size: 10px;
    }
    .footer-list h1 {
        margin-bottom: 10px;
    }
}

@media(max-width:1500px) and (min-width:1250px){
    .navbar{
        height: 45px;
        padding: 0;
    }
    #nav_logo{
        width: 80px;
        height: 28px;
        margin-top: -5px;
        font-size: 30px;
        font-weight: 700;
    }
    #nav_ops a{
        padding-top: 7px;
        text-align: center; 
        height: 28px;
        width: 110px;
        font-size: 18px;
    }
    .hero_sec{
        height: 330px;
    }
    #hero_heading{
        font-size: 45px;
    }
    #search_bar input{
        width: 350px;
        height: 34px;
    }
    #search_bar button{
        width: 120px;
        height: 36px;
    }
    #select{
        height: 37px;
        width: 110px;
        cursor: pointer;
        margin: 5px;
    }
    #started_button{
        height: 105px;
        width: 105px;
    }
    #started{
        height: 105px;
        width: 105px;
        font-size: 18px;
        i{
            font-size: 33px;
        }
    }
    #panel_1 p{
        padding-top: 15px;
        font-size: 16px;
    }
    #panel_1_link{
        height: 40px;
        padding-top: 15px;
    }
    #panel_1_link a{
        font-size: 13px;
    }
    .sec_1 {
        height: 400px;
        width: 100%;
    }
    .sec_1_slider {
        height: 400px;
        width: 90%;
    }
    .slide {
        height: 400px;
        width: 200%;
    }
    .content {
        height: 340px;
        width: 18%; /* Adjusted to show 5 items (5 * 20% = 100%) */
        background-color: #ffffff;
        margin: 5px;
        padding: 20px;
        color: #333333;
        box-sizing: border-box;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: left;
    }
    
    .content h2 {
        color: #000000;
        font: 700 20px sans-serif;
        margin: 2px 0px 8px;
        cursor: pointer;
    }
    
    .content h2:hover {
        text-decoration: underline;
        color: #333333;
    }
    
    .content h3 {
        color: #333333;
        font: 18px sans-serif;
        margin: 2px 0px 8px;
    }
    
    .content p {
        color: #47b449;
        font: 500 19px sans-serif;
    }
    
    .con_bun {
        height: 150px;
        width: 100%;
        margin: 3px 0px 5px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
    .content button {
        height: 45px;
        width: 90%;
        color: #ffffff;
        background-color: #1d67bd;
        padding: 6px 6px 12px;
        margin-top: 15px;
        font: 100 17px source sans pro;
        border: 1px solid transparent;
        border-radius: 5px;
        cursor: pointer;
    }
    .con_bun button {
        height: 45px;
        width: 50%;
        color: #333333;
        font: 12px sans-serif;
        margin: 0px 5px 6px;
        background-color: #cee3ff;
        padding: 7px 14px;
        border: 1px solid #3b8efb;
        border-radius: 20px;
        cursor: pointer;
    }
    .prev, .next {
        height: 50px;
        width: 40px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        color: #333333;
        border: none;
        margin: -20px;
        cursor: pointer;
        font-size: 20px;
    }
    
    .prev {
        left: 10px;
    }
    
    .next {
        right: 10px;
    }
    
    .prev:hover, .next:hover {
        background-color: rgb(175, 173, 173)
    }
    
    #panel_2{
        height: 45px;
        margin-top: 8px;
    }
    #panel_2 p{
        padding-top: 12px;
        font-size: 16px;
        font-weight: 500;
    }
    #panel_2_link{
        height: 45px;
        padding-top: 12px;
    }
    #panel_2_link a{
        font-size: 14px;
    }
    .sec_2{
        height: 210px;
        width: 98%;
        display: flex;
        justify-content: space-around;
        margin: 10px;
    }
    .container {
        width: 85%;
        height: 170px;
        margin-left: -4%;
    }
    .navbar_2 {
        height: auto;
        p{
            font-size: 13px;
            font-weight: 600;
            margin: 5px;
        }
    }
    .navbar_2 a {
        padding: 0px;
        font-size: 11px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .content_2 {
        padding: 3px;
    }
    .list_boxes{
        flex-wrap: wrap;
        flex-direction: column;
    }
    #list li{
        font-size: 10px;
    }
    .sec_3{
        height: auto;
    }
    .sec_job{
        height: auto;
        font-size: 10px;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .hunt_job{
        height: 200px;
        width: 100%;
        .img{
            height: 40%;
            width: 100%;
            margin-top: 5px;
            margin-bottom: 10px;
            img{
                height: 100px;
                width: 100px;
            }
        }
        .text{
            height: 40px;
            width: 100%;
            h3{
                font-weight: 700;
                font-size: 15px;
            }
        }
    }
    .free_cv{
        height: 100px;
        width: 70%;
        padding-top: 50px;
        img{
            height: 90px;
            width: 90px;
            img{
                height: 90px;
                width: 90px;
            }
        }
        .text{
            height: 70px;
            width: 100%;
            padding-top: 10px;
            h3{
                font-weight: 700;
                font-size: 15px;
            }
        }
    }
    .writing_cv{
        height: 100px;
        width: 80%;
        padding: 40px;
        cursor: pointer;
        img{
            height: 90px;
            width: 90px;
            img{
                height: 90px;
                width: 90px;
            }
        }
        .text{
            height: 70px;
            width: 100%;
            padding-top: 10px;
            h3{
                font-weight: 700;
                font-size: 15px;
            }
        }
    }
    /*footer*/
    footer{
        margin-top: 10px;
        height: auto;
    }
    /*footer 1*/
    .footer_1{
        height: auto;
        width: 65%;
        margin-left: 20%;
        padding-top: 20px;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 20px;
        h3{
            font-size: 15px;
        }
    }
    /*footer 2*/
    .footer_2{
        height: 30px;
        width: 70%;
        font-size: 10px;
        margin-left: 20%;
        margin-top: -10px;
    }
    .footer_list ul {
        padding-bottom: 20px;
    }
    .footer_list li {
        font-size: 10px;
    }
    .footer-list h1 {
        margin-bottom: 10px;
    }
}